#view {
    -moz-padding-start:0px;
    -webkit-padding-start:0px;
    -khtml-padding-start:0px;
    -o-padding-start:0px;
    padding-start:0px;
    padding:0px;
    text-align:center;
    display:block;
}
#view img {
    border-radius:3px;
    cursor:pointer;
    padding-bottom: 5px;
}

#overlay {
    background-color:rgba(0, 0, 0, 0.80);
    position:fixed;
    z-index:-1;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    display:none;
    background-repeat:no-repeat;
    background-position:center;
    background-size:contain;
}
#search {
    position:relative;
    z-index:10;
    border-radius:5px;
}
#search p { display: inline-block; margin: 0;}
#searchbox, #loginbox {
    background-color:rgba(0, 0, 0, 0.80);
    position:fixed;
    width:96%;
    height:100%;
    display:none;
    z-index:-1;
    top:0px;
    left:0px;
    padding:0% 2% 2%;
}

#searchbox input, #loginbox input {
    height:30px;
    border-radius:5px;
    border:1px solid #cccccc;
    padding-left:5px;
    margin-bottom:10px;
    width:100%;
    max-width:160px;
    outline:0;
}
#searchbox button, #loginbox button {
    height:34px;
    background-color:#cccccc;
    color:#000000;
    border:1px solid #cacaca;
    border-radius:4px;
    cursor:pointer;
    display:inline-block;
    margin-left:5px;
}

#searchbox #favrequest {background-color: #f00; color: #ffffff; border: 1px solid #FF0000; display: none;}

#searchbox div, #loginbox div {
max-width: 550px;
width: 96%;
margin: 1% auto 0%;
text-align: center;
background-color: #ffffff;
padding-bottom: 50px;
padding-top: 1%;
padding-left: 2%;
padding-right: 2%;
}

li {
    display:inline-block;
    vertical-align:top;
    padding:7px;
    width:150px;
    background-color:#cacaca;
    min-height:200px;
    margin:5px;
    text-align:left;
    border-radius:3px;
    overflow:hidden;
}
li span a {font-style:italic; color:#000000; text-decoration:none;}

span {
   display: block;
   font-size: 0.9rem;
   text-align: left;
   overflow: hidden;
   color: #000000;
   padding-bottom: 5px;
   }

h2 {
    display:none;
    /*padding-bottom:20px;*/
    font-size:12px;
    font-size:1rem;
}
#closeit {
    position:absolute;
    bottom:10px;
    left:10px;
    cursor:pointer;
    display:block;
}
#insp {
    position:absolute;
    bottom:10px;
    right:10px;
    cursor:pointer;
}
#suggest {
    display:inline;
    font-size:13px;
    font-size:1rem;
    font-style:italic;
}
#getval {
    z-index:-1;
    height:30px;
    border-radius:5px;
    border:1px solid #cccccc;
    float:left;
}
#favbutton {
    z-index:-1;
    height:30px;
    border-radius:5px;
    border:1px solid #cccccc;
    float:left;
    margin-left:10px;
    background-color: #f00;
    border: 1px solid #ff0000;
    color: #ffffff;
    display:none;
}
#login {
    z-index:-1;
    height:30px;
    border-radius:5px;
    border:1px solid #cccccc;
    float:left;
    margin-left:10px;
    background-color:#186299;
    border: 1px solid #186299;
    color: #ffffff;
}

button#login-search {
    background-color:#186299;
    border: 1px solid #186299;
    color: #ffffff;
}

#current {
    font-style:italic;
    display:block;
    margin:0 auto;
    font-size:2em;
    text-align:center;
}

#brand {
float: none;
font-size: 1.75em;
font-style: italic;
color: #ffffff;
padding-top: 0.25%;
margin: 0 auto;
display: block;
width: auto;
text-align: right;
}

header {overflow:hidden}

.favorites, .favorites a { cursor: pointer; display: block; }
.favorites a { color:#000; border: 1px solid #000; border-radius: 3px; padding-left: 3px; }
.favorites .favorited {color:#f00; border: 1px solid #f00; border-radius: 3px; padding-left: 3px; }